FlightsAPI_Simple/obj/Debug/net8.0/FlightsAPI_Simple.AssemblyInfo.cs
FlightsAPI_Simple/obj/Debug/net8.0/FlightsAPI_Simple.AssemblyInfoInputs.cache
obj/
FlightsAPI_Simple/obj/Debug/net8.0/FlightsAPI_Simple.AssemblyInfo.cs
FlightsAPI_Simple/obj/Debug/net8.0/FlightsAPI_Simple.AssemblyInfoInputs.cache
